body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: black;
    justify-content: center;
}

.container{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.card{
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.score{
    font-weight: bold;
    color: #2c7be5;
}